<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      <div class="flexrow">
        <div class="resource">
          <label for="data.ancestry.value" class="resource-label">Ancestry</label>
          <input type="text" name="data.ancestry.value" value="{{data.ancestry.value}}" data-dtype="String" />
        </div>
        <div class="resource">
          <label for="data.class.value" class="resource-label">Class</label>
          <input type="text" name="data.class.value" value="{{data.class.value}}" data-dtype="String" />
        </div>
        <div class="resource" style="flex: 0 0">
          <label for="data.level.value" class="resource-label">Level</label>
          <input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>

  <div class="flexcol" style="flex: 0 0">
    <table class="flex-group-center">
      <thead>
        <tr>
          <th colspan="4">Health</th>
          <th colspan="2">Wounds</th>
        </tr>
        <tr>
          <th>Fatigue</th>
          <th>Magic</th>
          <th>HP</th>
          <th>Max</th>
          <th>WP</th>
          <th>Max</th>
        </tr>
      </thead>
      <tbody>
        <td><input style="width: 2em" type="text" name="data.fatigue.value" value="{{data.fatigue.value}}"
            data-dtype="Number" /></td>
        <td><input style="width: 2em" type="text" name="data.magic.value" value="{{data.magic.value}}"
            data-dtype="Number" /></td>
        <td>{{data.health.value}}</td>
        <td><input style="width: 2em" type="text" name="data.health.max" value="{{data.health.max}}"
            data-dtype="Number" /></td>
        <td><input style="width: 2em" type="text" name="data.wounds.value" value="{{data.wounds.value}}"
            data-dtype="Number" /></td>
        <td><input style="width: 2em" type="text" name="data.wounds.max" value="{{data.wounds.max}}"
            data-dtype="Number" /></td>
      </tbody>
    </table>

    <table class="flex-group-center">
      <thead>
        <tr>
          <th colspan="3">Stats</th>
          <th colspan="3">Combat</th>
        </tr>
        <tr>
          <th>Strength</th>
          <th>Agility</th>
          <th>Mind</th>
          <th>AC</th>
          <th>CB</th>
          <th>Init.</th>
        </tr>
      </thead>
      <tbody>
        {{#each data.abilities as |ability key|}}
        <td>
          <input style="width: 2em" type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}"
            data-dtype="Number" />
          <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod"
            data-label="{{toUpperCase key}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
        </td>
        {{/each}}
        <td>
          <input style="width: 2em" type="text" name="data.combat.ac.value" value="{{data.combat.ac.value}}"
            data-dtype="Number" />
        </td>
        <td>
          <input style="width: 2em" type="text" name="data.combat.cb.value" value="{{data.combat.cb.value}}"
            data-dtype="Number" />
        </td>
        <td>
          <input style="width: 2em" type="text" name="data.combat.init.value" value="{{data.combat.init.value}}"
            data-dtype="Number" />
        </td>
      </tbody>
    </table>
  </div>

  <div class="skills">
    <ol class="items-list">
      <li class="item flexrow item-header">
        <div class="item-image"></div>
        <div class="item-name">{{backgroundsTitle}}</div>
        <div class="item-controls">
          {{#if editableBackgrounds}}
          <a class="item-control create-skill" title="Add skill" data-type="skill"><i class="fas fa-plus"></i></a>
          {{/if}}
        </div>
      </li>
      {{#each skills as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
        </div>
        <h4 class="item-name">{{item.name}} {{numberFormat item.data.data.mod decimals=0 sign=true}}</h4>
        <div>
          <i class="fas fa-dice-d20"></i>
          {{#each ../data.abilities as |ability key|}}
          <span class="ability-mod rollable" data-roll="d20+{{item.data.data.mod}}+@abilities.{{key}}.mod"
            data-label="{{item.name}} and {{toUpperCase key}}">{{toUpperCase key}}</span>
          {{/each}}
        </div>
        <div class="item-controls">
          <a class="item-control item-edit" title="Edit skill"><i class="fas fa-edit"></i></a>
          {{#if ../editableBackgrounds}}
          <a class="item-control item-delete" title="Delete skill"><i class="fas fa-trash"></i></a>
          {{/if}}
        </div>
      </li>
      {{else}}
      <li class="item flexrow">
        <div class="item-image"></div>
        <h4>
          {{#if editableBackgrounds}}
          Click
          <a class="item-control create-skill" title="Add skill" data-type="skill"><i class="fas fa-plus"></i></a>
          to add a background.
          {{else}}
          <a class="create-base-skills">Click to add the four base skills.</a>
          {{/if}}
        </h4>
      </li>
      {{/each}}
    </ol>
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="item-name">Name</div>
          <div class="item-controls">
            <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add
              item</a>
          </div>
        </li>
        {{#each gear}}
        <li class="item flexrow" data-item-id="{{_id}}">
          <div class="item-image"><img src="{{img}}" title="{{name}}" width="24" height="24" /></div>
          <h4 class="item-name">{{showQuantity data.data.quantity}} {{name}}</h4>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{else}}
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <h4 class="item-name">No items yet.</h4>
        </li>
        {{/each}}
      </ol>
    </div>

  </section>
</form>